<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>¿Quiénes somos?</h2>
      La Rola Bogotá, es un proyecto de infoshow/magazine transmedia que tiene cómo objetivo producir  contenido audiovisual que abarque los temas de agenda cultural y tendencias de la movida alternativa de la ciudad de Bogotá. A partir del uso de plataformas digitales y redes tales cómo Facebook, Instagram, YouTube y Pinterest pretende obedecer a las dinámicas de la nueva televisión por medio de una página web que sirva como portal de convergencia de todo el contenido y permita la interacción de los usuarios y seguidores con la información y el material producido.
      <div class="dropdown-divider"></div>
      Para contactarnos con nosotros, escríbanos a:<br />
      <b>editor@larola.co</b>
    </div>
  </div>
</div>
